@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.black');
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.scrollbar-thumb');
    border-radius: 10px;
    border: 0px solid theme('colors.neutral.bright');
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.neutral.light');
  }
}

